<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dojo Survey Index</title>
    <style>
      body {
        width: 900px;
        margin: 0%;
      }
      form {
        font-size: 15px;
        margin: 20% 25%;
        border: 2px solid black;
        width: 50%;
        /* height: 50%; */
        padding: 5% 5%;
      }
      #name {
        margin-left: 40.5%;
        width: 30%;
      }
      #location {
        margin-left: 39%;
        width: 30%;
      }
      #language {
        margin-left: 29%;
        width: 30%;
      }
    </style>
  </head>
  <body>
    <form action="result" method="post">
      {% csrf_token %}
      <label for="name">Your Name:</label>
      <input id="name" type="text" name="name" /><br />
      <label for="location">Dojo Locatio:</label>
      <select name="location" id="location">
        <option value="San Jose">San Jose</option>
        <option value="San Jose">San Jose</option>
        <option value="San Jose">San Jose</option></select
      ><br />
      <label for="language">Favorite Languoge:</label>
      <select name="language" id="language">
        <option value="Python">Python</option>
        <option value="js">js</option>
        <option value="php">php</option></select
      ><br />
      <label for="comment">Comment:</label><br />
      <textarea name="comment" id="comment" cols="50" rows="8"></textarea>
      <br />
      <a href="index2.html">
        <button type="submit" style="align-items: flex-end">button</button>
      </a>
    </form>
  </body>
</html>
