<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
    <style>
        div{
            font-size: 20px;
            margin: 20% 25%;
            border: 2px solid black;
            width: 50%;
            /* height: 50%; */
            padding: 5% 10%;
        }
    </style>
</head>
<body>
    <div>
        <div><h1>Submitted Info:</h1></div>
        
            <p id="name" for="name">Your Name: {{form.name}}</p><br>
        
            <p id="location" for="location">Dojo Locatio: {{form.location}}</p><br>
            
            <p id="language" for="language">Favorite Languoge: {{form.language}}</p><br>
            
            <p id="comment" for="comment">Comment: {{form.comment}}</p>
            <br>
            <form action="/">
                <button>Go Back</button>
            </form>
    </div>
</body>
</html>